@font-face {
    font-family: GentiumPlus-R;
    font-style: normal;
    src: url("../media/font/GentiumPlus-R.ttf");
}

@font-face {
    font-family: Yahfie-Heavy;
    font-style: normal;
    src: url("../media/font/Yahfie-Heavy.ttf");
}

body {
    font-family: Yahfie-Heavy;
}